.ds-none {
    display: none;
}

.container {
    @media (max-width: 920px) {
        width: 808px !important;
    }
    @media (min-width: 992px) {
        width: 856px !important;
    }
    @media (min-width: 1201px) and (max-width: 1439px){
        width: 1060px !important;
    }
    @media (min-width: 1440px) {
        width: 1200px !important;
    }
}

.nav-bar {
    @media (max-width: 810px) {
        width: 810px;
    }
    .container { 
        @media (max-width: 992px) {
        flex-direction: column !important;
        }
        @media (max-width: 810px) {
            flex-direction: row !important;
        }
        div {
            @media (min-width: 993px) and (max-width: 1200px) {
                width: 45%;
            }
        }
        .main-ul {
            @media (min-width: 993px) and (max-width: 1200px) {
                font-size: 14px !important;
            }
            @media (max-width: 810px) {
                flex-direction: column !important;
                position: absolute;
                padding: 2rem 0;
                top: 92px;
                left: 0;
                width: 100%;
                background-color: #1d3557;
                display: none !important;
            }
            & > li {
                @media (max-width: 810px) {
                    margin: 0 0 1rem 0 !important;
                    width: 90% !important;
                    text-align: center;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                }
                @media (min-width: 993px) and (max-width: 1200px) {
                    margin-right: 1rem !important;
                }
                div {
                    @media (max-width: 810px) {
                        width: 100%;
                    }
                }
            }
        }
        .courses-li {
            @media (min-width: 993px) and (max-width: 1200px) {
                display: block !important;
            }
            &:hover {
                @media (max-width: 810px) {
                    ul {
                        position: static !important;
                        margin-top: 15px;
                    }
                }
            }
            ul {
                @media (max-width: 810px) {
                    padding-top: 0 !important;
                    width: 100% !important;
                }
            }
        }
        span {
            @media (min-width: 993px) and (max-width: 1200px) {
                width: 102px !important;
                height: 35px;
                line-height: 35px;
            }
            @media (max-width: 810px) {
                background-color: #457b9d !important;
            }
        }
        img {
            @media (max-width: 992px) {
                margin-bottom: 1.5rem !important;
            }
            @media (max-width: 810px) {
                margin-bottom: 0rem !important;
                width: 100px !important;
                height: 60px !important;
            }
        }
        .fa-bars {
            @media (max-width: 810px) {
                display: block !important;
            }
        }
        .academia {
            .research {
                @media (max-width: 810px) {
                    width: 100% !important;
                }
                &:hover {
                    .ul-1 {
                        li {
                            @media (min-width: 993px) and (max-width: 1200px) {
                                font-size: 14px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

.hero {
    @media (max-width: 992px) {
        margin-top: 6rem !important;
    }
    .container {
        @media (max-width: 992px) {
            flex-direction: column;
            align-items: center;
        }
        div {
            @media (max-width: 992px) {
                margin-bottom: 3rem;
                width: 60% !important;
                text-align: center;
                margin-top: 0 !important;
            }
            @media (min-width: 993px) and (max-width: 1200px) {
                width: 47% !important;
            }
            h1 {
                @media (min-width: 993px) and (max-width: 1200px) {
                    font-size: 32px !important;
                }
            }
        }
        img {
            @media (min-width: 993px) and (max-width: 1200px) {
                width: 57% !important;
            }
        }
    }
}

.our-services {
    .container {
        .services {
            @media (max-width: 992px) {
                grid-template-columns: repeat(2, 50%) !important;
            }
            @media (max-width: 810px) {
                grid-template-columns: repeat(1, 100%) !important;
            }
            & > div {
                @media (min-width: 993px) and (max-width: 1200px) {
                    padding: 13px !important;
                }
                &:nth-child(7) {
                    @media (max-width: 992px) {
                        grid-column: 1/1 !important;
                    }
                }
                h2 {
                    @media (min-width: 993px) and (max-width: 1200px) {
                        font-size: 16px !important;
                    }
                }
                p {
                    @media (min-width: 993px) and (max-width: 1200px) {
                        font-size: 14px !important;
                    }
                    @media (min-width: 1201px) and (max-width: 1439px){
                        font-size: 15px !important;
                    }
                }
                div {
                    span {
                        @media (min-width: 993px) and (max-width: 1200px) {
                            font-weight: 400 !important;
                            font-size: 12px !important;
                        }
                    }
                }
                &:not(:nth-child(5), :nth-child(6)) {
                    &:before {
                        @media (min-width: 993px) and (max-width: 1200px) {
                            height: 50px !important;
                        }
                    }
                }
                &:nth-child(5), &:nth-child(6) {
                    &:before {
                        @media (min-width: 1201px) and (max-width: 1439px){
                            height: 90px !important;
                        }
                    }
                } 
            }
        }
    }
}

.about-us {
    @media (min-width: 993px) and (max-width: 1200px) {
        margin-top: 5rem !important;
    }
    & > img {
        @media (max-width: 810px) {
            display: none !important;
        }
        @media (max-width: 992px) {
            top: 225px !important;
        }
        @media (min-width: 993px) and (max-width: 1200px) {
            top: -52px !important;
            height: 490px !important;
        }
        @media (min-width: 1201px) and (max-width: 1439px) {
            top: -51px !important;
        }
    }
    .container {
        @media (max-width: 992px) {
            text-align: center;
            padding-top: 4rem !important;
        }
        @media (min-width: 993px) and (max-width: 1200px) {
            padding-top: 4rem !important;
        }
        div {
            @media (max-width: 992px) {
                flex-direction: column;
                margin: auto;
                padding-bottom: 3rem;
            }
            img {
                @media (max-width: 992px) {
                    width: 70% !important;
                    margin: auto;
                }
            }
            div {
                @media (max-width: 992px) {
                    align-items: center;
                }
                h2 {
                    @media (min-width: 993px) and (max-width: 1200px), (min-width: 1201px) and (max-width: 1439px) {
                        font-size: 60px !important;
                        line-height: 66px !important;
                    }
                    @media (max-width: 810px) {
                        font-size: 51px !important;
                        line-height: 62px !important;
                    }
                }
                p {
                    @media (min-width: 993px) and (max-width: 1200px), (min-width: 1201px) and (max-width: 1439px) {
                        font-size: 17px !important;
                    }
                }
                i {
                    @media (max-width: 992px) {
                        width: 600px;
                        text-align: center;
                    }
                    @media (min-width: 993px) and (max-width: 1200px), (min-width: 1201px) and (max-width: 1439px) {
                        font-size: 13px !important;
                        width: 354px;
                    }
                }
            }
        }
    }
}

.why-choose-us {
    .container {
        & > div {
            @media (max-width: 810px) {
                grid-template-columns: repeat(1, 70%) !important;
                justify-content: center !important;
            }
            div {
                i {
                    @media (max-width: 810px) {
                        width: 45px !important;
                        height: 45px !important;
                        line-height: 15px !important;
                        font-size: 17px !important;
                    }
                }
            }
        }
        & > h2 {
            @media (max-width: 810px) {
                font-size: 33px !important;
            }
        }
        & > p {
            @media (max-width: 810px) {
                font-size: 16px !important;
                width: 400px !important;
            }
        }
        & > button {
            @media (max-width: 810px) {
                width: 108px !important;
                height: 32px !important;
                font-size: 13px !important;
            }
        }
    }
    @media (max-width: 992px) {
        margin-top: 5rem !important;
    }
    @media (min-width: 993px) and (max-width: 1200px) {
        margin-top: 8rem !important;
    }
}

.our-courses {
    .container {
        .courses {
            @media (max-width: 810px) {
                display: block !important;
            }
            & > div {
                @media (max-width: 810px) {
                    margin-bottom: 2rem !important;
                    width: 100% !important;
                }
                img {
                    @media (max-width: 992px) {
                        height: 140px !important;
                    }
                    @media (min-width: 993px) and (max-width: 1200px) {
                        height: 143px !important;
                    }
                    @media (max-width: 810px) {
                        height: 372px !important;
                    }
                }
                p {
                    @media (max-width: 992px) {
                        font-size: 16px !important;
                    }
                    @media (min-width: 993px) and (max-width: 1200px) {
                        font-size: 16px !important;
                    }
                }
                h3 {
                    @media (max-width: 992px) {
                        font-size: 20px !important;
                        margin-top: 1rem !important;
                        margin-bottom: 4px !important;
                    }
                    @media (min-width: 993px) and (max-width: 1200px) {
                        font-size: 21px !important;
                    }
                }
                .Dr-Ahmad {
                    @media (max-width: 992px) {
                        margin-top: 1rem !important;
                    }
                    @media (min-width: 993px) and (max-width: 1200px) {
                        margin-top: 1rem !important;
                    }
                    p {
                        span {
                            @media (max-width: 992px) {
                                font-size: 15px !important;
                            }
                            @media (min-width: 993px) and (max-width: 1200px) {
                                font-size: 15px !important;
                            }
                        }
                    }
                    i {
                        @media (max-width: 992px) {
                            font-size: 26px !important;
                            margin-right: 6px !important;
                        }
                        @media (min-width: 993px) and (max-width: 1200px) {
                            font-size: 26px !important;
                            margin-right: 6px !important;
                        }
                    }
                }
            }
        }
    }
}

.footer {
    @media (max-width: 810px) {
        height: 677px !important;
        width: 810px;
        position: relative;
    }
    .container {
        @media (max-width: 810px) {
            justify-content: center !important;
        }
        .united-states {
            @media (max-width: 992px) {
                width: 230px !important;
                margin-right: 1rem !important;
                padding: 1.5rem 1.5rem 1.5rem !important;
            }
        }
        .turkey {
            @media (max-width: 992px) {
                width: 230px !important;
                margin-right: 1rem !important;
                padding: 1.5rem 1.5rem 1.5rem !important;
            }
            p {
                @media (max-width: 992px) , (min-width: 993px) and (max-width: 1200px){
                    font-size: 14px !important;
                    
                }
            }
        }
        .links {
            @media (max-width: 810px) {
                position: absolute;
                top: 259px !important;
                left: 389px !important;
            }
            @media (max-width: 992px) , (min-width: 993px) and (max-width: 1200px){
                margin: 3rem 0rem 0 2rem !important;
            }
            @media (min-width: 1201px) and (max-width: 1439px) {
                margin: 4rem 3rem 0 1rem !important;
            }
            ul {
                li {
                    @media (max-width: 992px) , (min-width: 993px) and (max-width: 1200px){
                        font-size: 13px !important;
                    }
                }
            }
        }
        .academia {
            @media (max-width: 810px) {
                left: 473px !important;
            }
        }
        .follow-us {
            @media (max-width: 810px) {
                top: 388px !important;
                left: 149px;
            }
            a {
                i {
                    @media (max-width: 992px) , (min-width: 993px) and (max-width: 1200px) {
                        margin: 2rem 0 0 0.5rem !important;
                        width: 30px !important;
                        height: 30px !important;
                        line-height: 30px !important;
                        font-size: 16px !important;
                    }
                }
            }
        }
        .subscribe {
            @media (max-width: 992px) , (min-width: 993px) and (max-width: 1200px) {
                left: 322px !important;
            }
            @media (max-width: 810px) {
                top: 514px !important;
                left: 148px !important;
            }
            input {
                @media (max-width: 992px) , (min-width: 993px) and (max-width: 1200px) {
                    height: 1.7rem !important;
                    width: 246px !important;
                }
            }
            span {
                @media (max-width: 992px) , (min-width: 993px) and (max-width: 1200px){
                    padding: 7px !important;
                    height: 1.7rem !important;
                }
            }
        }
    }
    .copyright {
        @media (max-width: 810px) {
            font-size: 12px;
        }
    }
}